.home-container{
    padding: 30px;
}

.home-banner-container h1{
    margin-bottom: 30px;
}

@media (min-width: 768px){
    .home-container{
        padding: 50px;
    }


    .home-banner-container h1{
        font-size: 50px;
    }

    .home-banner-container p{
        font-size: 30px;
    }
}