.btn-container {
    display: flex;
}

.btn-container button {
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

.btn h6 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
}