.login-card {
  padding: 15px;
  font-size: 16px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 40px;
}

.login-submit {
  margin-top: 55px;
  margin-bottom: 100px;
}

.form-control:focus {
  border-color: #ffc700;
  background-color: #FEFEFE;
}

@media (min-width: 576px) {
  .login-card {
    padding: 20px;
  }

  .login-submit {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}


@media (min-width: 768px) {
  .login-card {
    padding: 30px;
  }
}